/* contenitore principale */
body {
  margin: 0;
}

/* wrapper della gallery */
#gallery {
  column-gap: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

/* MOBILE */
@media (max-width: 768px) {
  #gallery {
    padding-left: 15px;
    padding-right: 15px;
  }
}
